Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [6]:
import pandas as pd

sr = pd.Series([4,8,15,16,23,42])
print(sr)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [7]:
data = [1,2,3,4,5,8,15,16,23,42]
sr = pd.Series(data)
print(sr)

0     1
1     2
2     3
3     4
4     5
5     8
6    15
7    16
8    23
9    42
dtype: int64

Answer=>3

In [12]:
d = {
    'Name':['Alice','Bob','Claire'],
    'Age' : [25,30,27],
    'Gender' : ['Female','Male','Female']
}
df = pd.DataFrame(d)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Answer => In Pandas, a DataFrame is a 2-dimensional labeled data structure with columns that can hold data of different types. 

On the other hand, a Series is a one-dimensional labeled array capable of holding data of any type. It can be seen as a single column in a DataFrame.

In [14]:
#example
d = {
    'Name':['Alice','Bob','Claire'],
    'Age' : [25,30,27],
    'Gender' : ['Female','Male','Female']
}
df = pd.DataFrame(d)
name_series = df['Name']

In [15]:
# dataframe

df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [16]:
# Series

name_series

0     Alice
1       Bob
2    Claire
Name: Name, dtype: object

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

head() and tail() => These functions are used to view the first or last few rows    of the DataFrame, respectively.

drop()=> Allows you to remove rows or columns from the DataFrame.

fillna()=> Fills missing values in the DataFrame with specified values
merge()=> Combines multiple DataFrames into a single DataFrame based on a common column or index.

In [4]:
# example
import pandas as pd
# Creating a DataFrame with missing values
data = {
    'A': [1, 2, None, 4],
    'B': [5, None, 7, 8],
    'C': [None, 10, 11, 12]
}
df = pd.DataFrame(data)

# Filling missing values with the mean of each column
filled_df = df.fillna(df.mean())

print("Original DataFrame:")
print(df)
print("\nDataFrame after filling missing values with mean:")
print(filled_df)

Original DataFrame:
     A    B     C
0  1.0  5.0   NaN
1  2.0  NaN  10.0
2  NaN  7.0  11.0
3  4.0  8.0  12.0

DataFrame after filling missing values with mean:
          A         B     C
0  1.000000  5.000000  11.0
1  2.000000  6.666667  10.0
2  2.333333  7.000000  11.0
3  4.000000  8.000000  12.0

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Answer=> Series and DataFrame are mutable

        Panel is immutable

Series:   A Series is mutable, meaning you can modify its values after creation. You can change individual elements, add or remove elements, or modify the index.

DataFrame: Similarly, a DataFrame is mutable. You can modify its contents by changing values, adding or removing columns, or modifying the index or column labels.

Panel : Panels are immutable, meaning once created, their contents cannot be modified.Panel is a three-dimensional data structure in Pandas that was previously used for handling data with three dimensions.

Q7=> Create a DataFrame using multiple Series. Explain with an example.

In [5]:
# Creating multiple Series
name_series = pd.Series(['Alice', 'Bob', 'Claire'])
age_series = pd.Series([25, 30, 27])
gender_series = pd.Series(['Female', 'Male', 'Female'])

# Creating a DataFrame using the Series
df = pd.DataFrame({
    'Name': name_series,
    'Age': age_series,
    'Gender': gender_series
})

# Printing the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female